@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body, html {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.main-container {
  max-width: 1440px;
  min-width: 375px;
  margin: auto;
  position: relative;
  box-sizing: border-box;
}

.header {
  padding: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 50;
}
.header__logo {
  font-family: "Shrikhand", "cursive";
  margin: 0px;
  text-align: center;
}

.footer {
  background-color: #353535;
  padding: 20px 20px 20px 20px;
}
@media (min-width: 1024px) {
  .footer {
    display: flex;
    gap: 80px;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
  }
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0px;
  font-size: 18px;
  margin-bottom: 16px;
}
.footer__list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 1024px) {
  .footer__list {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
.footer__item {
  margin: 8px 16px;
}
.footer__item:first-child {
  margin-top: 0px;
}
.footer__item:last-child {
  margin-bottom: 0px;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__icon {
  width: 18px;
  margin-right: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  border: 6px solid #F6F6F6;
  border-radius: 50%;
  border-top: 6px solid #9356DC;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  animation-delay: 1s;
  animation-fill-mode: both;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.location {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #EAEAEA;
  padding: 20px 16px;
  font-size: 18px;
}
.location__icon {
  margin-right: 16px;
}
.location__place {
  font-weight: 700;
}

.explore {
  background-color: #F6F6F6;
  padding: 32px;
  text-align: center;
}
.explore__title {
  margin: 0px;
}
.explore__subtitle {
  font-weight: 300;
  margin: 24px 0px;
}
.explore__button {
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 24px;
  border: 0px;
  color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: #F6F6F6;
  background-image: linear-gradient(#9356DC, #FF79DA);
  transition-duration: 0.3s;
  cursor: pointer;
}
.explore__button:hover {
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.explore__button a {
  text-decoration: none;
  color: inherit;
}

.howitworks {
  padding: 16px;
}
.howitworks__title {
  margin-top: 0px;
}
.howitworks__steps {
  list-style: none;
  counter-reset: completelist;
  margin: 0px;
  padding: 20px;
}
@media (min-width: 1024px) {
  .howitworks__steps {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.howitworks__step {
  display: flex;
  position: relative;
  border-radius: 18px;
  background-color: #F6F6F6;
  margin: 12px 12px 0px 12px;
  padding: 24px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
}
@media (min-width: 1024px) {
  .howitworks__step {
    width: 100%;
    margin: 0px 12px 0px 12px;
  }
}
.howitworks__step__text {
  padding: 0px;
}
@media (min-width: 1024) {
  .howitworks__step {
    margin: 0px;
    margin-left: 32px;
    flex: 1;
  }
  .howitworks__step:first-child {
    margin-left: 12px;
  }
}
.howitworks__step:first-child {
  margin-top: 0px;
}
.howitworks__step:last-child {
  margin-bottom: 0px;
}
.howitworks__step::before {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  background: #9356DC;
  left: -14px;
  counter-increment: completelist 1;
  content: counter(completelist) " ";
}
.howitworks__icon {
  color: #7E7E7E;
  margin-right: 16px;
}

.fa-store {
  color: #9356DC;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 20PX;
}
.restaurants__title {
  font-weight: 700;
  size: 24px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}
@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background-color: white;
  border-radius: 15px;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}
.card__img {
  width: 100%;
  height: 190px;
  border: transparent solid 0px;
  border-radius: 15px 15px 0px 0px;
  box-shadow: none;
  object-fit: cover;
}
.card__badge {
  border-radius: 2px;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 9px;
  background-color: #99E2D0;
  color: #10392f;
}
.card__cardcontent {
  padding: 16px;
  position: relative;
  display: flex;
  align-items: center;
}
.card__cardtext {
  flex: 1;
}
.card__title {
  margin: 0px;
  margin-bottom: 5px;
}
.card__subtitle {
  margin: 0px;
}
.card__button {
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: transparent solid 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__like {
  background-color: #FFFFFF !important;
}

.header--menupage {
  position: relative;
}
.header__back {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: black;
  top: 50%;
  transform: translateY(-50%);
}

.image {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  max-height: 400px;
}

.menu {
  background-color: #F6F6F6;
  border-radius: 30px 30px 0px 0px;
  position: relative;
  z-index: 5;
  margin-top: -40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .menu {
    padding: 0px 150px;
  }
}
.menu__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 20px 40px 0px 20px;
}
.menu__title {
  font-family: "shrikhand", "cursive";
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__button {
  width: 33px;
  height: 33px;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: black;
  cursor: pointer;
}
.menu__button:hover::before {
  opacity: 1;
}
.menu__button::before {
  opacity: 0px;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(#9356DC, #FF79DA);
}
.menu__like {
  transition-duration: 0.25s;
  background-color: #F6F6F6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}
.menu__button:hover .menu__like--nobg {
  opacity: 0;
}

.categories {
  width: 100%;
}
@media (min-width: 1024px) {
  .categories {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
}

.category {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.category__heading {
  font-weight: normal;
  padding: 10px 0px 10px 0px;
  text-transform: uppercase;
  position: relative;
}
.category__heading::after {
  width: 50px;
  background-color: #99E2D0;
  position: absolute;
  height: 3px;
  content: "";
  left: 0px;
  bottom: 0px;
}

.item {
  display: flex;
  border-radius: 16px;
  background-color: #FFFFFF;
  padding: 16px;
  margin: 12px 0px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  max-width: 100%;
  overflow: hidden;
  column-gap: 5px;
}
.item__name {
  flex: 1;
}
.item__title {
  margin: 0px;
  margin-bottom: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item__description {
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
  margin-right: 10px;
}
.item__confirm {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  background-color: #99E2D0;
  margin: -16px -100px -16px 0px;
}
.item:hover .item__confirm {
  margin-right: -36px;
}
.item__add {
  transform: rotate(180deg);
  transition-duration: 0.3s;
  border-radius: 50px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
.item:hover .item__add {
  transform: rotate(360deg);
}
.item__icon {
  color: #99E2D0;
}

.order {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}

.button-order {
  cursor: pointer;
  width: 180px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 24px;
  border: 0px;
  color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: #F6F6F6;
  background-image: linear-gradient(#9356DC, #FF79DA);
  transition-duration: 0.3s;
  cursor: pointer;
}
.button-order:hover {
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.button-order a {
  text-decoration: none;
  color: inherit;
}