@use "./mixins";
@use "./variables";

.header {
    &--menupage {
        position: relative;
    }

    &__back {
        position: absolute;
        width: 30px;
        height: 30px;
        left: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: black;
        top: 50%;
        transform: translateY(-50%);

    }
}

.image {
    object-fit: cover;
    width: 100%;
 max-width: 100%;
    max-height: 400px;
    
}


.menu {
    background-color: #F6F6F6;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    z-index: 5;
    margin-top: -40px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    @media (min-width:1024px) {

        padding:0px 150px;
    }

    &__header {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px; /////
        padding: 20px 40px 0px 20px;
    }

    &__title {
        font-family: "shrikhand", "cursive";
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__button {
        width: 33px;
        height: 33px;

        background-color: transparent;
        border: transparent 0px solid;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: black;
        cursor: pointer;

        &:hover::before {
            opacity: 1;
        }

        &::before {
            opacity: 0px;
            transition: 0.5s;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: $linear-gradient;
        }

    }

    &__like {
        transition-duration: .25s;
        background-color: #F6F6F6;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display:flex;
        align-items:center;
        justify-content:center;
        mix-blend-mode: lighten;

    }

    &__button:hover {

        .menu__like {
            &--nobg {
                opacity: 0;
            }
        }
    }
}


.categories {
 
    width: 100%;

    @media (min-width:1024px) {
       
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
    }
}

.category {
    overflow: hidden;
    padding: 0px;
    margin: 0px;;
    width: 100%;

    &__heading {
        font-weight: normal;
        padding: 10px 0px 10px 0px;
        text-transform: uppercase;
        position: relative;

        &::after {
            width: 50px;
            background-color: $colour-teritiary;
            position: absolute;
            height: 3px;
            content: "";
            left: 0px;
            bottom: 0px;
        }
    }

}


.item {  
    display: flex;
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 16px;
    margin: 12px 0px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    max-width: 100%;
    overflow: hidden;
    column-gap: 5px;

    &__name {
        flex: 1;
    }

    &__title {
        margin: 0px;
        margin-bottom: 8px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

    }

    &__description {
        margin: 0px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__price {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-weight: bold;
        margin-right: 10px;
    }

    &__confirm {
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 0.3s;
        background-color: $colour-teritiary;
        margin: -16px -100px -16px 0px;
    }

    &:hover &__confirm {
        margin-right: -36px;
    }


    &__add {
        transform: rotate(180deg);
        transition-duration: 0.3s;
        border-radius: 50px;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
    }

    &:hover &__add {
        transform: rotate(360deg);
    }

    &__icon {
        color: $colour-teritiary;
    }
}

.order {
    display: flex;
    justify-content: center;
    padding: 40px 0px;

}


.button-order {
    cursor: pointer;
    width: 180px;
    @include button;

}










