@mixin button {
    height: 50px;
    background: $linear-gradient;
    border-radius: 25px;
    color: $colour-white;
    border-color: $linear-gradient;
}

@mixin button-explore {
    width: 200px;
}

@mixin button-order {
    width: 185px;
}